.popup__body {
    margin: auto;
    width: 282px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin-top: 123px;
    padding-top: 25px;
   }
   
   @media screen and (min-width: 768px) {
    .popup__body {
     width: 430px;
     margin-top: 195px;
     padding-top: 34px;
    }
   }